<table style="width: 100%; max-width: 600px; border-collapse: collapse; margin-left: auto; margin-right: auto;">
<tbody>
<tr style="height: 62px;">
<td style="padding: 0cm 5.4pt; height: 62px;">
<p><img style="max-width: 100%;" src="https://blob.tophhie.co.uk/tophhiecloud-resources/Logos/tophhiecloud-colour.png" width="157" data-outlook-trace="F:1|T:1" /></p>
</td>
</tr>
<tr style="height: 50px;">
<td style="padding: 0pt 5.75pt;" width="100%">
<h2 style="text-align: left; margin: 0;" align="center">Welcome to Tophhie Social!</h2>
</td>
</tr>
<tr style="height: 52.3906px;">
<td style="padding: 0pt 5.75pt; height: 52.3906px;" valign="top">
<p style="line-height: 15.0pt;">Hi {{ACCOUNT_HANDLE}} ({{ACCOUNT_DID}}),</p>
<p style="line-height: 15.0pt;">We're so happy to have you with us at Tophhie Social. We'll take good care of your atproto account, and your data.</p>
<p style="line-height: 15.0pt;">In case you need them, you can find our Privacy Policy and Terms of Service here.</p>
<ul>
<li style="line-height: 15.0pt;"><a href="https://blog.tophhie.cloud/atproto-privacy-policy/">Privacy Policy</a></li>
<li style="line-height: 15.0pt;"><a href="https://blog.tophhie.cloud/atproto-tos/">Terms of Service</a></li>
</ul>
<p>As part of our service, you'll also be a part of our homepage, accessibility scoring, and other features we're working on! You can opt out of these at any time by heading to <a href="https://profile.tophhie.social">profile.tophhie.social</a>.</p>
<p>Tophhie Social always intends to be a free service, however we do have operational costs and are always open to donations! If you can spare anything for our project, it would be greatly appreciated. You can make donations <a href="https://paypal.me/tophhie">here</a>.</p>
<p>Once again, thank you for being a part of Tophhie Social. If you need anything, just email us at <a href="mailto:help@tophhie.cloud">help@tophhie.cloud</a>, visit <a href="https://support.tophhie.cloud">support.tophhie.cloud</a>, or message @tophhie.cloud or @tophhie.social on Bluesky.</p>
<p style="line-height: 15.0pt;">Kind regards,<br />Tophhie Social</p>
</td>
</tr>
<tr style="height: 55px;">
<td style="background: #f2f2f2; padding: 0cm 5.75pt; height: 55px;">
<p style="font-size: 11px;">Please do not reply to this message. <br /> If you need immediate help, please email <a href="mailto:help@tophhie.cloud">help@tophhie.cloud</a>.</p>
</td>
</tr>
</tbody>
</table>